@import "../palette";

.fevermap-data-view-content {
  min-height: 75vh;
  overflow-x: hidden;
  padding: 3rem 0 2rem;

  max-width: 60%;
  margin: 0 auto;
}

.entry-history-title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;


  .add-new-entry-button {
    .mdc-button {
      background: $bluegreen;
    }
  }
}

.entry-info-view-wrapper {
  padding: 0 1rem;

  .progression-chart {
    /* Placeholder div */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
  }
}

.statistics-fields {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--splitter {
    height: 3rem;
    width: 2.5px;
    background: $bluegreen;
    border-radius: 25%;
  }
  .statistics-field {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--title {
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem 0 0;
    }

    &--result {
      font-size: 2rem;
      color: $bluegreen;
      margin: 0.5rem 0;
      font-weight: 500;
    }

    &--subtitle {
      font-size: 0.9rem;
      color: #a9a9a9;
      margin: 0 0 1rem;
    }
  }
}


.previous-submissions-list {
  margin-top: 1rem;
}

.previous-submission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;

  &--data-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-weight: 500;
      font-size: 1.2rem;
      margin: 0;
    }

    &__date {
    }

    &__fever {
      display: flex;
      align-items: center;

      material-icon {
        display: flex;
        margin-right: 5px;
        span {
          font-weight: bold;
        }

        &.no-new-trend {
          color: gray;
        }

        &.downward-trend {
          color: #3f51b5;
          transform: rotateY(180deg);
        }

        &.upward-trend {
          color: #f44336;
        }
      }
    }
  }

  &--symptom-row {
    min-height: 0.5rem;
    &__symptoms {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      p {
        font-size: 0.85rem;
        color: #a9a9a9;
        margin: 0.5rem 4px 0 0;
      }
    }
  }
}


@media only screen and (max-width: 780px) {

  .fevermap-data-view-content {
    max-width: 100%;
    margin: 0 auto 2rem;
  }
}